@import 'variables.scss';
// @import '~/vuetify/src/dist/vuetify.min.css';
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');

// font
html {
  font-size: 20px;
  background: $html-bg-color;
  font-family: 'Merriweather ', sans-serif;
}

// font-color/bg-color ex: .happy-primary-color{ color: #fff }
@each $key, $color in $colors {
  .fs-#{$key} {
    color: $color;
  }
  .bg-#{$key} {
    background-color: $color;
  }
}

// font-size
@each $key, $size in $font-size {
  .fs-#{$key} {
    font-size: $size * $base-font-size;
  }
}

// flex-xy-center
@mixin fl-xy-center {
  display: flex;
  align-items: center;
  align-content: center; // y
  justify-content: center; // x
}
